# Ignorar la carpeta de dependencias de Node.js
node_modules/

# Ignorar archivos de configuración del IDE
.idea/
.vscode/

# Ignorar archivos temporales
*.log

# Ignorar archivos de construcción
dist/
build/

# Ignorar archivos de entorno
.env